<div class="container shadow p-3 mb-5 bg-white mt-5 rounded w-50">
  <h2 class="mt-5">Add new Bookmark</h2>

  <%= simple_form_for [@list, @bookmark], html: { class: 'mt-3' } do |f| %>
      <%= f.association :movie %>
      <%= f.input  :comment %>
      <%= f.button :submit, "Create Bookmark", class: 'btn btn-success' %>
  <% end %>
</div>
